*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: url(/cryptocurrency-price/background.png);
    background-position: center;
    background-size: cover;
    color: #fff;
    padding: 0 7%;
}
nav{
    width: 100%;
    padding:  20px 0;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
nav ul{
    flex: 1;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
nav .btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 30px;
    border-radius: 20px;
}
.content{
    margin-top: 12px;
}
.content h1{
    font-size: 84px;
    margin-bottom: 12px;
}
.content h1 span{
    color: #ff960b;
}
.container p{
    font-size: 14px;
    line-height: 22px;
}
.content .btn{
    text-decoration: none;
    color: #fff;
    background: #ff960b;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    margin-top: 30px;
    cursor: pointer;

}
.coin-list{
    position: absolute;
    right: 10%;
    bottom: 50px;
    display: flex;
    align-items: center;
}
.coin{
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: #ff960b;
    font-size: 14px;
    border: 1px solid #fff;
    padding:20px 30px ;
    border-radius: 8px;
}
.coin img{
    width: 30px;
    margin-right: 10px;
}
.coin h3{
    color: #fff;
    margin-bottom: 10px;
}